<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ring</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <style>body * {font-family: 'Open Sans', sans-serif;}</style>
    </head>
    <body>
        <div id="page">
            <div id="top">
                <a href="/" id="logo" title="Go to the homepage">Ring</a>
                <p style="display: inline-block;line-height: 50px;">
                    {{ logged_user.id() }}
                </p>

                <div class="logged-info nav-links">
                    <a href="{{ path_for('panel') }}" title="Show my profile" class="logged-name-link">{{ logged_user.name() }}</a>
                    {#<a href="{{ path_for('friends') }}" title="Show my friends" class="logged-friends-link">Friends</a>#}
                    <a href="{{ path_for('messages') }}" title="Show my conversations with other users" class="ogged-messages-link">Messages</a>
                    <a href="{{ path_for('auth.logout') }}" class="logged-logout-link">Log out</a>
                </div>
            </div>

            <div id="nav">
                <div class="search-form">
                    <h3>Find best people</h3>

                    <script>
                        var accItem = document.getElementsByClassName('fieldset');
                        var accHD = document.getElementsByTagName('legend');

                        for (var i = 0; i < accHD.length; i++) {
                            accHD[i].addEventListener('click', toggleItem, false);
                        }

                        function toggleItem() {
                            var itemClass = this.parentNode.className;

                            for (var i = 0; i < accItem.length; i++) {
                                accItem[i].className = 'accordionItem close';
                            }

                            if (itemClass === 'accordionItem close') {
                                this.parentNode.className = 'accordionItem open';
                            }
                        }
                    </script>

                    {{ search_form|raw }}

                    <form action="/search" method="get" name="user-search">
                        <fieldset>
                            <legend>I'm looking for</legend>

                            <input type="checkbox" id="gender-woman" name="gender[]" value="w" checked>
                            <label for="gender-woman">Women</label>

                            <input type="checkbox" id="gender-men" name="gender[]" value="m">
                            <label for="gender-men">Men</label>

                            <label for="city" style="clear: left;">From</label>
                            <input type="text" name="city" id="city" size="25" placeholder="Enter city name..." style="width: 89%;margin-bottom: 15px;">

                            {#<legend>Age</legend>#}

                            <label for="age_min">Min</label>
                            <select id="age_min" name="age[min]">
                                {% for i in 18..79 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>

                            <label for="age_max">Max</label>
                            <select id="age_max" name="age[max]">
                                {% for i in 19..80 %}
                                    <option value="{{ i }}" {% if i == 36 %}selected{% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>

                        <fieldset>
                            <legend>Height</legend>

                            <label for="height_min">Min</label>
                            <select id="height_min" name="height_min">
                                {% for i in 130..220 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>

                            <label for="height_max">Max</label>
                            <select id="height_max" name="height_max">
                                {% for i in 130..220 %}
                                    <option value="{{ i }}" {% if i == 220 %}selected{% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>

                        <fieldset>
                            <legend>Hair color</legend>
                            <input type="checkbox" name="hair_color[]" id="hair_color-1" value="Brown" checked>
                            <label for="hair_color-1">Brown</label>

                            <input type="checkbox" name="hair_color[]" id="hair_color-1" value="Blonde">
                            <label for="hair_color-1">Blonde</label>

                            <input type="checkbox" name="hair_color[]" id="hair_color-1" value="Silver">
                            <label for="hair_color-1">Silver</label>

                            <input type="checkbox" name="hair_color[]" id="hair_color-1" value="Bald">
                            <label for="hair_color-1">Bald</label>

                            <input type="checkbox" name="hair_color[]" id="hair_color-1" value="Black">
                            <label for="hair_color-1">Black</label>
                        </fieldset>

                        <fieldset>
                            <legend>Languages</legend>

                            <select name="languages[operator]">
                                <option value="and">AND</option>
                                <option value="or">OR</option>
                                <option value="not">NOT</option>
                            </select>

                            <input type="checkbox" name="languages[name][]" id="languages-1" value="english" checked>
                            <label for="languages-1">English</label>

                            <input type="checkbox" name="languages[name][]" id="languages-2" value="german">
                            <label for="languages-2">German</label>

                            <input type="checkbox" name="languages[name][]" id="languages-3" value="spanish">
                            <label for="languages-3">Spanish</label>

                            <input type="checkbox" name="languages[name][]" id="languages-4" value="french">
                            <label for="languages-4">French</label>

                            <input type="checkbox" name="languages[name][]" id="languages-5" value="russian">
                            <label for="languages-5">Russian</label>
                        </fieldset>

                        <input type="submit" value="Find">
                    </form>
                </div>
                <div class="nav-box">
                    <h3>To do:</h3>

                    <ul>
                        <li>Klucze główne w DB nie mogą być dostępne publiczne: nie mogą być częścią URLa na wypadek przyszłego skalowania i zmian w bazie</li>
                    </ul>
                </div>
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <div id="bottom">
                <p>Copyright 2018. All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
