<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ring</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="page" class="public">
            <div id="top">
                <a href="/" id="logo" title="Go to the homepage">Ring</a>

                <div class="logged-info nav-links">
                    <a href="{{ path_for('registration') }}" class="ogged-register-link">Register</a>
                    <a href="{{ path_for('login.get') }}" class="logged-login-link">Login</a>
                </div>
            </div>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <div id="bottom">
                <p>Copyright 2018. All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
