{% extends "_layouts/logged.twig" %}

{% block content %}
    <div id="friends">
        {% for user in friends %}
            <div class="search-result user-box friend">
                <a href="/profile/{{ user.friend_id }}">
                    <img src="/photo/{{ user.filename }}"
                         alt="" title="" class=""
                    >
                </a>

                <a href="">{{ user.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
