{% extends "_layouts/logged.twig" %}

{% block content %}
    <div id="panel">
        <form action="/panel/photo" method="post" class="panel-form" enctype="multipart/form-data">
            <label for="photo-upload">Upload photo</label>
            <input type="file" name="photo-upload" id="photo-upload">

            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}
