body {
  background: #f8f9fa;
  font: 14px "Open Sans", arial, sans-serif;
  color: #404040;
  text-align: center;
  padding: 0;
  margin: 0; }

body * {
  margin: 0;
  padding: 0; }

#page {
  margin: 0 auto;
  width: 100%;
  text-align: left; }

.main {
  padding: 15px;
  height: 400px; }

#content {
  float: left;
  padding-right: 15px;
  width: 75%;
  box-sizing: border-box; }

.public #content {
  width: 100%; }

.search-result, .user-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 silver;
  /*border-radius: 10% 10% 0 0;*/
  float: left;
  width: 170px;
  height: 230px;
  margin: 0 10px 10px 0;
  padding: 10px;
  text-align: center; }
  .search-result img, .user-box img {
    border-radius: 5px 5px 0 0;
    border-bottom: 5px solid #fff;
    margin: -10px -10px 10px -10px; }
  .search-result a, .user-box a {
    color: #000;
    /*font-weight: bold;*/
    text-align: center;
    text-decoration: none; }
    .search-result a:hover, .user-box a:hover {
      text-decoration: underline; }
  .search-result:hover, .user-box:hover {
    opacity: 0.75;
    border-color: red; }
    .search-result:hover img, .user-box:hover img {
      border-bottom-color: #71dd8a; }

.search-form {
  padding: 0 15px 15px 15px; }
  .search-form h3 {
    border-bottom: 1px solid silver;
    margin: 0 0 15px 0;
    padding: 0 0 7px 0; }
  .search-form input[type="radio"] {
    display: inline-block; }
  .search-form input[type="checkbox"] {
    display: inline; }
  .search-form fieldset {
    background: #fff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 0;
    padding: 15px; }
    .search-form fieldset legend {
      float: left;
      font-weight: bold;
      margin: 0 0 10px 0;
      padding: 0;
      width: 100%; }
    .search-form fieldset input {
      float: left;
      height: 20px;
      margin: 0 5px 5px 0;
      clear: both; }
    .search-form fieldset label {
      float: left;
      height: 20px;
      line-height: 20px;
      margin: 0 0 5px 0; }
    .search-form fieldset select {
      float: left;
      margin: 0 15px 0 0; }

h1 {
  border-bottom: 1px solid #efefef;
  float: left;
  height: 32px;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
  margin: 20px 0 50px 0; }

p {
  margin: 0 0 20px 0;
  line-height: 20px; }

a {
  color: #36c;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

label {
  display: block;
  margin: 0 0 3px 0; }

form {
  clear: both; }

form.inline label {
  display: inline-block;
  float: left;
  margin: 0 10px 3px 0;
  padding: 7px 0 0 0;
  text-align: right;
  width: 130px; }

input, select {
  display: block;
  margin: 0 0 5px 0;
  background-color: #efefef;
  border: 0;
  border-radius: 3px;
  padding: 10px 15px; }

input[type="text"],
input[type="password"] {
  border-radius: 20px;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input[type="submit"] {
  background: #71dd8a;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  float: right;
  padding: 7px 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  input[type="submit"]:hover {
    cursor: pointer;
    text-decoration: underline; }
  input[type="submit"]:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    color: white; }
  input[type="submit"]:hover:before, input[type="submit"]:focus:before, input[type="submit"]:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-weight: bold; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-weight: bold;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-weight: bold;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: bold; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: bold; }

::placeholder {
  /* Most modern browsers support this now. */
  color: silver;
  font-weight: bold; }

.messages tr.unread a {
  font-weight: bold; }
.messages .no-messages {
  border: 1px solid silver;
  padding: 30px;
  border-radius: 5px; }
  .messages .no-messages p {
    margin: 0; }

img.message-user-photo {
  width: 50px;
  border-radius: 100%;
  border: 2px solid #fff; }
  img.message-user-photo:hover {
    border: 2px solid #efefef; }

.message {
  background: #efefef;
  clear: both;
  float: left;
  border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 15px; }

.conversation .form-wrapper {
  clear: both;
  float: left; }
  .conversation .form-wrapper textarea {
    display: block;
    margin-bottom: 10px; }
.conversation img.message-user-photo {
  width: 70px;
  border-radius: 100%;
  border: 5px solid #fff;
  transform: rotate(0deg);
  transition: transform 0.3s 0s; }
  .conversation img.message-user-photo:hover {
    border: 5px solid #efefef;
    transition: all 0.3s ease-out;
    transform: rotate(30deg); }
.conversation .message {
  max-width: 50%;
  position: relative; }
  .conversation .message .author {
    position: absolute; }
  .conversation .message .content {
    font-size: 1.2em; }
    .conversation .message .content p {
      margin: 0; }
.conversation .user-a {
  background: #efefef;
  float: left;
  margin-left: 120px; }
  .conversation .user-a .content:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -24px;
    top: 20px;
    border: 12px solid;
    border-color: transparent #efefef transparent transparent; }
  .conversation .user-a .author {
    left: -105px;
    top: 0; }
  .conversation .user-a .datetime {
    color: #c0c0c0;
    font-size: .8em; }
.conversation .user-b {
  background: #60daf9;
  color: #004085;
  float: right;
  margin-right: 120px;
  text-align: right; }
  .conversation .user-b .content:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -24px;
    top: 20px;
    border: 12px solid;
    border-color: transparent transparent transparent #60daf9; }
  .conversation .user-b img.message-user-photo {
    float: right;
    margin: 0 0 10px 10px; }
  .conversation .user-b .author {
    right: -105px;
    top: 0; }
  .conversation .user-b .datetime {
    color: #004585;
    font-size: .8em;
    opacity: .5; }
.conversation form textarea {
  border-radius: 5px;
  border: 2px solid silver;
  padding: 10px; }

table {
  margin: 0 0 20px 0;
  border-collapse: collapse;
  width: 100%; }
  table th {
    border-bottom: 2px solid silver; }
  table th, table td {
    padding: 10px; }

#top {
  background: #fff;
  border-bottom: 1px solid silver;
  margin: 0 0 15px 0;
  width: 100%;
  height: 50px; }
  #top a {
    display: inline-block;
    font: 600 16px "Nunito", arial, sans-serif;
    text-decoration: none; }
  #top .logged-info {
    float: right; }
    #top .logged-info a {
      color: #909090;
      float: left;
      height: 50px;
      line-height: 50px;
      padding: 0 15px; }
      #top .logged-info a:hover {
        color: #495057; }

a#logo {
  /*box-shadow: 5px -2px 3px 0 silver;*/
  /*border-right: 1px solid silver;*/
  color: #495057;
  float: left;
  font: bold 26px "Nunito", arial, sans-serif;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100px; }

.login {
  width: 40%;
  margin: 10px 30%;
  padding: 0 0 100px 0; }

.register {
  width: 40;
  margin: 0 30%;
  padding-bottom: 100px; }

#nav {
  float: left;
  width: 25%; }
  #nav .nav-box {
    padding: 15px; }
    #nav .nav-box h3 {
      border-bottom: 1px solid silver;
      margin: 0 0 15px 0;
      padding: 0 0 7px 0; }
    #nav .nav-box ul {
      padding-left: 15px; }

footer {
  border-top: 1px solid silver;
  padding: 20px 0;
  text-align: center; }

#bottom {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background: #fff;
  text-align: center;
  float: left; }

/*# sourceMappingURL=styles.css.map */
