{% extends "_layouts/logged.twig" %}

{% block content %}
    <div class="conversation">
        <h1>Conversation with {{ conversation.friend.name }}</h1>

        <div class="form-wrapper">
            <form action="" method="post">
                {#<label for="message">Respond:</label>#}
                <textarea name="message"
                          id="message"
                          cols="50"
                          rows="4"
                          placeholder="Write your response here"
                ></textarea>

                <input type="submit" value="Send">
            </form>
        </div>

        {% for message in conversation.messages %}
            <div class="message {{ message.user_type }}">
                <div class="author">
                    <a href="">
                        <img src="/photo/{{ message.user_photo }}"
                             alt="{{ message.user_name }} photo, [AGE]"
                             title="{{ message.user_name }}, [AGE]"
                             class="message-user-photo"
                        >
                    </a>
                </div>
                <div class="content">
                    <p>{{ message.message }}</p>
                    <span class="datetime">{{ message.datetime }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
