{% extends "_layouts/logged.twig" %}

{% block content %}
    <div class="messages">
        <table>
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" title="Select all" id=""></th>
                    <th scope="col">Conversation</th>
                    <th scope="col">Author</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr {% if message.read == false %}class="unread"{% endif %}>
                        <td><input type="checkbox" name="messages[]" value="{{ message.id }}"></td>
                        <td>
                            <a href="{{ path_for('messages.conversation.show', {'userId': message.friend_id}) }}">
                                {{ message.friend_name }}
                            </a>
                        </td>
                        <td>
                            <a href="">
                                <img src="/photo/{{ message.avatar }}"
                                     alt="{{ message.name }} photo, [AGE]"
                                     title="{{ message.name }}, [AGE]"
                                     class="message-user-photo"
                            >
                            </a>
                        </td>
                        <td>{{ message.amount }}</td>
                        <td>{{ message.last_message_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if messages is null %}
            <div class="info-box no-messages">
                <p>No messages.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
