{% extends "_layouts/logged.twig" %}

{% block content %}
    <div class="message">
        <div class="sender"></div>
        <div class="content">{{ message.created_at }}<br>{{ message.message }}</div>
    </div>
{% endblock %}
