label {
    display: block;
    margin: 0 0 3px 0;
}

form {
    clear: both;
}

form.inline {
    label {
        display: inline-block;
        float: left;
        margin: 0 10px 3px 0;
        padding: 7px 0 0 0;
        text-align: right;
        width: 130px;
    }
}

input, select {
    //border: 1px solid silver;
    display: block;
    margin: 0 0 5px 0;

    background-color: #efefef;
    border: 0;
    border-radius: 3px;
    padding: 10px 15px;
}

input[type="text"],
input[type="password"] {
    border-radius: 20px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

input[type="submit"] {
    //background: darkviolet;
    background: #71dd8a;
    //border: 1px solid darkviolet;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    float: right;
    //font-weight: bold;
    padding: 7px 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    //background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2098d1;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover, &:focus, &:active {
        color: white;
    }
    &:hover:before, &:focus:before, &:active:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-weight: bold;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-weight: bold;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: bold;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-weight: bold;
}

::placeholder { /* Most modern browsers support this now. */
    color: silver;
    font-weight: bold;
}