body {
    background: rgb(248, 249, 250);
    font: 14px "Open Sans", arial, sans-serif;
    color: #404040;
    text-align: center;
    padding: 0;
    margin: 0;
}

body * {
    //box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.main {
    padding: 15px;
    height: 400px;
}
