.messages {
    tr {
        &:hover {

        }
    }
    tr.unread {
        //background: lightyellow;

        a {
            font-weight: bold;
        }
    }

    .no-messages {
        border: 1px solid silver;
        padding: 30px;
        border-radius: 5px;

        p {
            margin: 0;
        }
    }
}

img.message-user-photo {
    width: 50px;
    border-radius: 100%;
    border: 2px solid #fff;

    &:hover {
        border: 2px solid #efefef;
    }
}

.message {
    background: #efefef;
    clear: both;
    float: left;
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 15px;
}

.conversation {
    .form-wrapper {
        clear: both;
        float: left;

        textarea {
            display: block;
            margin-bottom: 10px;
        }
    }
    img.message-user-photo {
        width: 70px;
        border-radius: 100%;
        border: 5px solid #fff;
        transform: rotate(0deg);
        transition: transform 0.3s 0s;

        &:hover {
            border: 5px solid #efefef;
            transition: all 0.3s ease-out;
            transform: rotate(30deg);
        }
    }

    .message {
        max-width: 50%;
        position: relative;

        .author {
            position: absolute;
        }

        .content {
            font-size: 1.2em;

            p {
                margin: 0;
            }
        }
    }

    .user-a {
        background: #efefef;
        float: left;
        margin-left: 120px;

        .content {
            &:before {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: -24px;
                top: 20px;
                border: 12px solid;
                border-color: transparent #efefef transparent transparent;
            }
        }

        img.message-user-photo {
            //float: left;
            //margin: 0 10px 10px 0;
        }

        .author {
            left: -105px;
            top: 0;
            //margin-left: -120px;
        }

        .datetime {
            color: #c0c0c0;
            font-size: .8em;
        }
    }

    .user-b {
        background: #60daf9;
        color: #004085;
        float: right;
        margin-right: 120px;
        text-align: right;

        .content {
            &:before {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                right: -24px;
                top: 20px;
                border: 12px solid;
                border-color: transparent transparent transparent #60daf9;
            }
        }

        img.message-user-photo {
            float: right;
            margin: 0 0 10px 10px;
        }

        .author {
            right: -105px;
            top: 0
        }

        .datetime {
            color: #004585;
            font-size: .8em;
            opacity: .5;
        }
    }

    form {
        textarea {
            border-radius: 5px;
            border: 2px solid silver;
            padding: 10px;
        }
    }
}