#nav {
    float: left;
    width: 25%;

    .nav-box {
        padding: 15px;

        h3 {
            border-bottom: 1px solid silver;
            margin: 0 0 15px 0;
            padding: 0 0 7px 0;
        }

        ul {
            padding-left: 15px;
        }
    }
}