.search-result, .user-box {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 silver;
        /*border-radius: 10% 10% 0 0;*/
        float: left;
        width: 170px;
        height: 230px;
        margin: 0 10px 10px 0;
    //border: 1px solid silver;
        padding: 10px;
        text-align: center;

        img {
            border-radius: 5px 5px 0 0;
            border-bottom: 5px solid #fff;
            margin: -10px -10px 10px -10px;
        }

        a {
            color: #000;
            /*font-weight: bold;*/
            text-align: center;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:hover {
            opacity: 0.75;
            border-color: red;

            a {
                //text-decoration: underline;
            }

            img {
                border-bottom-color: #71dd8a;
            }
        }
    }

