.search-form {
    //background: silver;
    padding: 0 15px 15px 15px;

    h3 {
        border-bottom: 1px solid silver;
        margin: 0 0 15px 0;
        padding: 0 0 7px 0;
    }

    input[type="radio"] {
        display: inline-block;
    }

    input[type="checkbox"] {
        display: inline;
    }

    fieldset {
        //background: #e5e5e5;
        background: #fff;
        border: 0;
        border-radius: 3px;
        //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        margin: 0 0 10px 0;
        padding: 15px;

        legend {
            float: left;
            font-weight: bold;
            margin: 0 0 10px 0;
            padding: 0;
            width: 100%;
        }

        input {
            float: left;
            height: 20px;
            margin: 0 5px 5px 0;
            clear: both;
        }

        label {
            float: left;
            height: 20px;
            line-height: 20px;
            margin: 0 0 5px 0;
        }

        select {
            float: left;
            margin: 0 15px 0 0;
        }

        
    }
}
