h1 {
    border-bottom: 1px solid #efefef;
    float: left;
    height: 32px;
    padding: 0;
    font-family: "Nunito", sans-serif !important;
    margin: 20px 0 50px 0;
}

p {
    margin: 0 0 20px 0;
    line-height: 20px;
}

a {
    color: #36c;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}