#top {
    //background: #efefef;
    background: #fff;
    border-bottom: 1px solid silver;
    margin: 0 0 15px 0;
    width: 100%;
    height: 50px;

    a {
        display: inline-block;
        font: 600 16px "Nunito", arial, sans-serif;
        text-decoration: none;
    }

    .logged-info {
        float: right;

        a {
            color: #909090;
            float: left;
            height: 50px;
            line-height: 50px;
            padding: 0 15px;

            &:hover {
                //background-color: #e8e8e8;
                color: #495057;
            }
        }
    }
}

a#logo {
    /*box-shadow: 5px -2px 3px 0 silver;*/
    /*border-right: 1px solid silver;*/
    //color: darkviolet;
    //color: rgb(73, 80, 87);
    color: #495057;
    float: left;
    font: bold 26px "Nunito", arial, sans-serif;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100px;
}
