<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ring</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div id="page">
            <div>Ring</div>

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
