{% extends "_layouts/index.twig" %}

{% block content %}
    <div id="search-results">
        <div class="search-result">
            <a href="">
                <img src="" alt="" title="" class="">
            </a>

            <a href="">Anna Smith</a>
        </div>
    </div>
{% endblock %}
