{% extends "_layouts/index.twig" %}

{% block content %}
    <div class="message">
        <form method="post" action="">
            <label for="message">Message</label>
            <textarea rows="10" cols="20" name="message" id="message"></textarea>

            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}
