{% extends "_layouts/index.twig" %}

{% block content %}
    <div class="login">
        <form method="post" action="">
            <label for="login">Login</label>
            <input type="text" name="login" id="login" size="20" value="admin">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" size="20" value="admin">

            <input type="submit" value="Log in">
        </form>
    </div>
{% endblock %}
