{% extends "_layouts/index.twig" %}

{% block content %}
    <div class="register">
        <form method="post" action="">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" size="20">

            <label for="text">E-mail</label>
            <input type="text" name="email" id="email" size="20">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" size="20">

            <label for="password2">Confirm password</label>
            <input type="password" name="password2" id="password2" size="20">

            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}
