{% extends "_layouts/index.twig" %}

{% block content %}
    <div id="search-results">
        {%  for user in users %}
            <div class="search-result">
                <a href="">
                    <img src="" alt="" title="" class="">
                </a>

                <a href="">Anna Smith</a>
            </div>
        {%  endfor %}
    </div>
{% endblock %}
