{% extends "_layouts/logged.twig" %}

{% block content %}
    <div id="profile">
        <div class="profile-photo">
            <img src="/photo/{{ profile.photo_id }}" alt="" title="">
        </div>

        <h1>{{ profile.name() }}</h1>

        <a href="/messages/conversation/{{ profile.user_id }}">Write a message now</a>

        <table>
            <thead>
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for property, value in properties %}
                    <tr>
                        <td>{{ property }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
