{% extends "_layouts/public.twig" %}

{% block content %}
    <div class="login">
        <h1>Log in</h1>

        <form method="post" action="" class="inline">
            <label for="login">Login</label>
            <input type="text" name="login" id="login" size="20" value="Michal">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" size="20" value="Qwert123_">

            <input type="submit" value="Log in">
        </form>
    </div>
{% endblock %}
