{% extends "_layouts/logged.twig" %}

{% block content %}
    <div class="profile">
        <form method="post" action="">
            <label for="photo">Add photo</label>
            <input type="file" name="photo" id="photo" size="20">

            {#            <label for="languages">Languages</label>#}

            <label for="language-english">English</label>
            <input type="checkbox" name="languages[]" id="language-english" value="1">

            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}
