{% extends "_layouts/public.twig" %}

{% block content %}
    <div class="register">
        <h1>Register now and meet great people!</h1>

        <form method="post" action="" class="inline">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" size="20">

            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" size="20">

            <label for="password">Password</label>
            <input type="password" name="password" id="password" size="20">

            <label for="password2">Confirm password</label>
            <input type="password" name="password2" id="password2" size="20">

            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}
