{% extends "_layouts/logged.twig" %}

{% block content %}
    <div id="search-results">
        {% for user in users %}
            <div class="search-result">
                <a href="/profile/{{ user.user_id }}">
                    <img src="/photo/{{ user.path }}"
                         alt="" title="" class=""
                    >
                </a>

                <a href="">{{ user.name }}, ({{ user.age }})</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
