{% extends "_layouts/public.twig" %}

{% block top %}
    <div id="top">
        <a href="" id="logo">Ring</a>

        <div class="logged-info">
            <a href="" class="logged-name-link">Michał</a>
            <a href="" class="ogged-messages-link">Messages: 0</a>
            <a href="" class="logged-logout-link">Log out</a>
        </div>
    </div>
{% endblock %}
